#wrapper {
  margin-left: 20px;
}

#upload-header {
  margin-bottom: 15px;
}

#file-row > td {
  padding-bottom: 7px;
}

#upload-button {
  margin-top: 10px;
}

#error-string {
  margin-left: 5px;
  color: darkred;
}
